 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
 width: 100%;
 background-color: #CC3399;
}

.header-contents {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #dda0dd;
}

.header-box:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-visual-left {
  width: 300px;
  background-color: #CCFF00;
}

.main-visual-right {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: green;
}

.main-visual-right > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FFFF00;
}

footer {
  width: 100%;
  background-color: #3399FF;
}

.footer-box {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box > div {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #e0ffff;
}

.f-box3:nth-child(3) {
  flex-wrap: wrap;
}